//$primary-link: #007eff // intermehanika-ltd primary color
//$secondary-link: #f97508 // intermehanika-ltd secondary color
//$color-link: #0053b6
//$color-hover: #f00a28
//$color-alert: #e52a3e
//$color-black: #333
//$color-gray: #555
//$color-button: #43ac6a
//$color-button-hover: #368a55


$sm-breakpoint-max: 600px
//$sm-container-min-width: 100%
//$lg-container-min-width: 1128px
//$lg-container-padding: 9px




//@mixin content()
	content: ""
	position: absolute
